<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Atomic Flair</title>        
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <script>
        less = {
            env: "development",
            logLevel: 2
        }
    </script>
    <link rel="stylesheet/less" href="Content/site.less" type="text/less"  />
    <!-- must go after the LESS stylesheet -->        
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
</head>
    <body>
        <div class="container">            
            @RenderBody()                
        </div>
            
    </body>
</html>
