@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h1 style="display:inline; background-color: green">Atomic Flair</h1>    
    </div>    
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-6" style="background-color: green">
        <h2>What is Atomic Flair?</h2>
        <p>Think back to Office Space - flair are hte little badges and tokens you can put on yourself to give you... well... Flair!</p>
        <p>Atomic Flair are little badges of atomic goodness that take your avatar and your standing within the atomicmpc.com.au community and show it off to the world</p>
        <p>But how?  We grab your details from the forums and build a little image that is your badge.  You can then take this image anywhere you want and display your flair.</p>        
    </div>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-6" style="background-color: green">
        <h2>How do I get mine?</h2>
        <p>Simple!  You just enter the following url as your image source, "http://atomicflair.com/normal/<your-atomic-id>.png".  If you are hawkeye you would use <span style="color: #FFF">http://atomicflair.com/normal/13.png</span></p>
        <p>Because it's an image and not something ugly like an iframe you can use it pretty much anywhere.</p>
        <p>Better yet, it upates as your atomicmpc.com.au details change :)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-4" style="background-color: green">
        <h2>Show me some flair samples!</h2>        
        <img src="/regular/13.png" />        
        <img src="/regular/20394.png" />                
        <img src="/regular/21228.png" />       
        <img src="/regular/1024.png" />        
    </div>
</div>




